.social-container{
    display: flex;
    width:50%;
    margin: 0 auto;
    margin-right:60px;
   
}
.social-container img{
  width:7%;
  margin: 12px;
  cursor: pointer;
}
/* .club-details{
    display: flex;
    width: 90%;
    margin: 10px;
    padding: 10px;
    background-color: red;
    margin-left: 20px;
    
} */
.playerImage img{
    margin-top:15px;
    width:300px;
    margin-left: 200px;
   
}
.banner-design{
    margin-left:35px;

}
.icon-design img {
    width: 15px;
   
}
.icon-design{
    padding:2px;
    margin: 2px;
}

