
.card-design img {
    width: 60%;   
    padding-top:10px;
    margin-right: 22px;
}
.card-design {
    text-align: center;
    margin:15px;
   margin-left: 50px;
    border-radius: 15px;
   
}
.card-design Button{
    margin-right: 40px;
}
.clubName{
    margin-right:30px;
}
.sportstype{
    margin-right:30px;
}